<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nz.ac.wgtn.ecs.CarbonFootprint">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarbonFootprint">
        <activity
            android:name="nz.ac.wgtn.ecs.CarbonFootprint.BaseActivity"
            android:exported="false" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider3126826070919344"
            android:exported="true" />

        <activity
            android:name="nz.ac.wgtn.ecs.CarbonFootprint.SettingsActivity"
            android:exported="false" />
        <activity
            android:name="nz.ac.wgtn.ecs.CarbonFootprint.WebViewActivity"
            android:exported="false" />
        <activity
            android:name="nz.ac.wgtn.ecs.CarbonFootprint.ProfilePage"
            android:exported="false" />
        <activity
            android:name="nz.ac.wgtn.ecs.CarbonFootprint.MyCameraActivity"
            android:exported="false" />
        <activity
            android:name="nz.ac.wgtn.ecs.CarbonFootprint.ActionRecorderPage"
            android:exported="false" />
        <activity
            android:name="nz.ac.wgtn.ecs.CarbonFootprint.ShopRecordPage"
            android:exported="false" />
        <activity
            android:name="nz.ac.wgtn.ecs.CarbonFootprint.ShopActivity"
            android:exported="false" />
        <activity
            android:name="nz.ac.wgtn.ecs.CarbonFootprint.FoodRecordPage"
            android:exported="false" />
        <activity
            android:name="nz.ac.wgtn.ecs.CarbonFootprint.LogoutPage"
            android:exported="false" />
        <activity
            android:name="nz.ac.wgtn.ecs.CarbonFootprint.SharePage"
            android:exported="false" />
        <activity
            android:name="nz.ac.wgtn.ecs.CarbonFootprint.RemindersAlertPage"
            android:exported="false" />
        <activity
            android:name="nz.ac.wgtn.ecs.CarbonFootprint.CarbonFootprintRecorder"
            android:exported="false" />
        <activity
            android:name="nz.ac.wgtn.ecs.CarbonFootprint.TravelRecorderPage"
            android:exported="false" />
        <activity
            android:name="nz.ac.wgtn.ecs.CarbonFootprint.MenuPage"
            android:exported="false" />
        <activity
            android:name="nz.ac.wgtn.ecs.CarbonFootprint.PointsPage"
            android:exported="false" />
        <activity
            android:name="nz.ac.wgtn.ecs.CarbonFootprint.RegisterPage"
            android:exported="false" />
        <activity
            android:name="nz.ac.wgtn.ecs.CarbonFootprint.LoginPage"
            android:exported="false" />
        <activity
            android:name="nz.ac.wgtn.ecs.CarbonFootprint.SplashPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>

</manifest>